* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #f2f2f2;
  background: -webkit-linear-gradient(top, #f2f2f2, #5e5e5e);
  background: -moz-linear-gradient(top, #f2f2f2, #5e5e5e);
  background: linear-gradient(to bottom, #f2f2f2, #5e5e5e);
}

.card-holder {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 15px;
}

.card-book {
  border: 1px solid black;
  background-color: white;
}

.new-book {
  align-self: center;
  padding: 5px 10px;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}
